

/* BookingPage.css */
.booking-page{
  width: 100%;
  padding: 20px 20px;
}



.booking-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-result {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

