.Cardcontainer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 95%;
  max-width: 95%;
  padding: 10px;
  padding-top: 25px;
  margin:10px 10px;
  margin-bottom: 65px;
  
}

.CardBody Img {
  object-fit: cover;
  max-height: 250px;
  width: 100%;
}

.cardcard {
  padding: 15px 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.7);
  border-radius: 11px;
}
.Cardcontainer1 .Cardcontainer1text {
  color: black;
}
.cardcard2, .cardcard3 {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 11px;
}

@media (max-width: 600px) {
  .Cardcontainer1 {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    width: 90%
  }
}

.smaller-heading {
  font-size: 22px;
}