.Footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: start;
    align-items: start;
  }
  
  .footnavigation,
  .footcontact,
  .footsocialmedia {
    display: flex;
    flex-direction: column;
    justify-items: start;
  }